﻿@model LojaEsportes.Web.Models.CarrinhoViewModel

@{
    ViewBag.Title = "Artigos Esportivos : Seu Carrinho";
}
<style>
    #carrinhoTabela td {
        vertical-align: middle;
    }
</style>

<h2>Seu Carrinho</h2>
<table id="carrinhoTabela" class="table">
    <thead>
        <tr>
            <th>Quantidade</th>
            <th>Item</th>
            <th class="text-right">Preço</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Carrinho.Itens)
        {
            <tr>
                <td class="text-center">@item.Quantidade</td>
                <td class="text-left">@item.Produto.Nome</td>
                <td class="text-right">
                    @item.Produto.Preco.ToString("c")
                </td>
                <td class="text-right">
                    @((item.Quantidade * item.Produto.Preco).ToString("c"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoverItemCarrinho", "Carrinho"))
                    {
                        @Html.Hidden("IdProduto", item.Produto.IdProduto)
                        @Html.HiddenFor(carrinhoViewModel => carrinhoViewModel.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit"
                               value="Remover" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Carrinho.CalcularValorTotal().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">
        Continuar
        Comprando
    </a>
    @Html.ActionLink("Finalizar Compra", "FinalizarCompra", null, new { @class = "btn btn-primary" })
</div>

