﻿@model LojaEsportes.Dominio.Entidades.UsuarioPermissao

@{
    ViewBag.Title = "Excluir Permissão do Usuario";
}

<h2>Excluir Permissão do Usuario</h2>

<h3>Deseja excluir Usuario dessa Permissão ?</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Permissao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permissao.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Login)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
