﻿@model IEnumerable<LojaEsportes.Dominio.Entidades.UsuarioPermissao>

@{
    ViewBag.Title = "Permissões de Usuario";
}

<h2>Permissões de Usuario</h2>

<p>
    @Html.ActionLink("Adicionar Permissão ao Usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Permissao.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Login)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Permissao.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Login)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdPermissaoUsuario }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdPermissaoUsuario }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdPermissaoUsuario })
        </td>
    </tr>
}

</table>
