﻿@using PagedList.Mvc;
@using PagedList;
@model IPagedList<LojaEsportes.Dominio.Entidades.Produto>

@{ 
    ViewBag.Title = "Loja de Esportes Virtual";
}

<h2>Catálogo de Produtos</h2>

@foreach (var p in Model)
{
    @Html.Partial("_CatalogoResumo", p)
}

<span class="btn-group pull-right">
    @Html.PagedListPager(Model, pagina => Url.Action("Catalogo", new { pagina, categoria = Request.QueryString["categoria"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
</span>