﻿@model IEnumerable<LojaEsportes.Dominio.Entidades.Usuario>

@{
    ViewBag.Title = "Adicionar Usuario";
}

<h2>Adicionar Usuario</h2>

<p>
    @Html.ActionLink("Adicionar Usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdUsuario }) |
            @Html.ActionLink("Detahes", "Details", new { id=item.IdUsuario }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdUsuario })
        </td>
    </tr>
}

</table>
