﻿@model LojaEsportes.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(login => login.Login)
        </div>
        <div class="editor-field">
            @Html.EditorFor(login => login.Login)
            @Html.ValidationMessageFor(login => login.Login, "", new
       {
           @class =

               "text-danger"
       })
        </div>

        <div class="editor-label">
            @Html.LabelFor(login => login.Senha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(login => login.Senha)
            @Html.ValidationMessageFor(login => login.Senha, "", new
       {
           @class =

               "text-danger"
       })
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(login => login.LembrarSenha)
            @Html.LabelFor(login => login.LembrarSenha)
        </div>
        <p>
            <input type="submit" value="Login" />
        </p>
        <p>
            @Html.ActionLink("Registrar-se como um novo usuário", "Registro")
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Voltar", "Catalogo", "Produto")
</div>