﻿@model LojaEsportes.Dominio.Entidades.Categoria

@{
    ViewBag.Title = "Detalhes da Categoria";
}

<h2>Detalhes da Categoria</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdCategoria }) |
    @Html.ActionLink("Voltar", "Index")
</p>
