﻿@model IEnumerable<LojaEsportes.Dominio.Entidades.Permissao>

@{
    ViewBag.Title = "Adicionar Permissão";
}

<h2>Adicionar Permissão</h2>

<p>
    @Html.ActionLink("Adicionar Permissão", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdPermissao }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdPermissao }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdPermissao })
        </td>
    </tr>
}

</table>
