﻿@model LojaEsportes.Dominio.Entidades.Produto

<div class="well">
    @if (Model.Imagem != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" src="@Url.Action("exibirimagem","arquivo", new { id = Model.IdProduto })" width="75" height="75" />
        </div>
    }
    else
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" src="~/Imagens/semimagem.jpg" width="75"
                 height="75" />
        </div>
    }

    <h3>
        <strong>@Model.Nome</strong>
        <span class="pull-right label label-primary">
            @Model.Preco.ToString("c")
        </span>
    </h3>

    @using (Html.BeginForm("AdicionarItemCarrinho", "Carrinho"))
    {
        <div class="pull-right">
            @Html.HiddenFor(produto => produto.IdProduto)
            @Html.Hidden("ReturnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Comprar" />
        </div>
    }

    <span class="lead">@Model.Descricao</span>
</div>

