﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <title>@ViewBag.Title</title>    
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        @*<a class="navbar-brand" href="#">Artigos Esportivos</a>*@
        @Html.ActionLink("Artigos Esportivos", "Catalogo", "Produto", new { area = "" }, new { @class = "navbar-brand" })
        @Html.Partial("_Login")
        @Html.Action("ItensCarrinho", "Carrinho")
    </div>

    <div class="row panel">
        <div id="categorias" class="col-xs-3">
            @Html.Action("Menu", "Navega")            
        </div>
        <div class="col-xs-8">
            @if (TempData["mensagem"] != null)
            {
                <div class="alert alert-success">@TempData["mensagem"]</div>
            }
            @RenderBody()            
        </div>
    </div>
</body>
</html>