﻿@{
    if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "Usuario", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
        {
            <ul class="nav navbar-nav navbar-text navbar-left">
                <li>Bem Vindo @(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "")</li>
            </ul>
            <a class="nav navbar-nav navbar-text navbar-left" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-left">
            <li>@Html.ActionLink("Login", "Login", "Usuario")</li>
        </ul>
    }
}
