﻿@model LojaEsportes.Dominio.Entidades.Produto

@{
    ViewBag.Title = "Editar Produto";
}

<h2>Editar Produto</h2>

@using (Html.BeginForm("Edit", "Administrador", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Produto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdProduto)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Preco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Preco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
            </div>
        </div>        

        <div class="form-group">
            @Html.LabelFor(model => model.IdCategoria, "Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdCategoria", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdCategoria, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @if (Model.Imagem != null)
        {
            <div class="form-group">
                <span class="control-label col-md-2">
                    <strong>
                        Imagem
                        Atual
                    </strong>
                </span>
                <div class="col-md-10">
                    <img src="@Url.Action("ExibirImagem","Arquivo", new { id = Model.IdProduto })" width="150" height="150" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <span class="control-label col-md-2">
                    <strong>
                        Imagem
                        Atual
                    </strong>
                </span>
                <div class="col-md-10">
                    <img src="~/Imagens/semimagem.jpg" width="150" height="150" />
                </div>
            </div>
        } 
        
        <div class="form-group">
            @Html.Label("Nova Imagem", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Imagem" name="upload" />
            </div>
        </div>      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
