﻿@model IEnumerable<LojaEsportes.Dominio.Entidades.Produto>

@{
    ViewBag.Title = "Catalogo de Produtos";
}

<h2>Catalogo de Produtos</h2>

<p>
    @Html.ActionLink("Adicionar Produto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>       
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdProduto }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdProduto }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdProduto })
        </td>
    </tr>
}
</table>
